/* mixins.scss */
/* Typography styles */
html {
  font-size: 14px;
  font-family: "Default Nutino", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}

@font-face {
  font-family: "Default Nutino";
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 1 100%;
}
@font-face {
  font-family: "Default Nunito";
  src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-stretch: 1 100%;
}
body {
  color: #FFFFFF;
  font-family: "Default Nutino", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

h1 {
  font-family: "Montserrat";
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0px;
  line-height: 1;
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

p {
  font-size: 1;
  line-height: 1.5;
  margin-bottom: 15px;
}

@keyframes pullDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pullUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes disappearDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}
@keyframes disappearUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}
@keyframes hide {
  0% {
    position: relative;
    visibility: visible;
  }
  100% {
    position: absolute;
    visibility: hidden;
  }
}
@keyframes popUp {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: #ae2319;
  color: #FFFFFF;
  padding: 24px 16px;
  transition: all 0.2s ease-in-out;
  height: 100vh;
  width: 50%;
}
@media (max-width: 768px) {
  body {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  margin-bottom: 24px;
}
.header h1 {
  font-size: 5rem;
  font-weight: 800;
}

main {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 100%;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.trip-btns {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.trip-btn {
  box-shadow: none;
  padding: 4px 10px;
  border-radius: 8px;
  background: #DA291C;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}
.trip-btn i {
  margin-right: 5px;
}
.trip-btn:hover {
  opacity: 1;
}

ul, ol, li, a {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
}

.orange {
  color: #EB5E28;
}

.grey {
  color: #303137;
}

.orange-bg {
  background-color: #EB5E28;
}

.blue-bg {
  background-color: #2876EB;
}

.purple-bg {
  background-color: #B828EB;
}

.green-bg {
  background-color: #FFFFFF;
}

.yellow-bg {
  background-color: #EBE328;
}

a {
  opacity: 0.7;
}
a:hover, a:focus {
  opacity: 1;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* width */
::-webkit-scrollbar {
  width: 3px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(235, 94, 40, 0.3);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ae2319;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  background: #D3D3D3;
  color: #FFFFFF;
  box-sizing: border-box;
}

.day {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 8px;
  transition: all 0.2s ease-in-out;
}
.day-header {
  cursor: pointer;
}
.day h2 {
  margin-bottom: 0;
}
.day-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-height: 0;
  opacity: 0.4;
  overflow: hidden;
  transition: max-height 0.8s ease-out, opacity 0.5s ease-out;
  color: #FFFFFF;
}
.day-content.expanded {
  height: 100%;
  max-height: 10000px;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.day-content-checkpoint {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  height: 100%;
  opacity: 1;
  color: #FFFFFF;
}
.day-content-checkpoint-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  opacity: 0.8;
}
.day-content-checkpoint-timeline-time {
  color: #D3D3D3;
}
.travel .day-content-checkpoint-timeline-time {
  opacity: 0.6;
}
.day-content-checkpoint-timeline-line {
  height: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
}
.travel .day-content-checkpoint-timeline-line {
  border: 1px dashed #D3D3D3;
  background: none;
  opacity: 0.6;
}
.day-content-checkpoint-info {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 8px;
}
.travel .day-content-checkpoint-info {
  margin-bottom: 16px;
  opacity: 0.6;
}
.day-content-checkpoint-info-title {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  font-weight: 800;
}
.day-content-checkpoint-info-description {
  font-size: 1rem;
  font-weight: 400;
}
.day-content-checkpoint-info-infos {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  margin-top: 8px;
  gap: 8px;
  width: 100%;
}
.day-content-checkpoint-info-infos-item {
  border: 1px solid rgba(247, 255, 136, 0.5);
  color: #D3D3D3;
  background: rgba(211, 211, 211, 0.1);
  padding: 2px 4px;
  border-radius: 4px;
}
.special .day-content-checkpoint-info {
  background: #DA291C;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}
.important .day-content-checkpoint-info {
  border-radius: 8px;
  color: #D3D3D3;
  border: 1px solid #D3D3D3;
  padding: 8px;
  box-sizing: border-box;
}
.day-content-checkpoint:last-child .day-content-checkpoint-timeline-line {
  opacity: 0;
}

.weather-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .weather-section {
    width: 80%;
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .weather-section {
    width: 100%;
  }
}
.weather-section .weather-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}
@media (max-width: 768px) {
  .weather-section .weather-info {
    gap: 8px;
  }
}
.weather-section .weather-info .weather-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
  background: #DA291C;
  padding: 16px 8px;
  border-radius: 12px;
  color: #FFFFFF;
}
.weather-section .weather-info .weather-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .weather-section .weather-info .weather-item i {
    font-size: 1.7rem;
  }
}
@media (max-width: 768px) {
  .weather-section .weather-info .weather-item {
    padding: 8px;
  }
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
nav ul li {
  color: #FFFFFF;
  width: 100%;
  padding: 10px 0;
  opacity: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
nav ul li.active {
  opacity: 1;
  color: #FFFFFF;
}
nav ul li.active:hover, nav ul li.active:focus {
  opacity: 1;
  color: #FFFFFF;
  cursor: default;
}
nav ul li:hover, nav ul li:focus {
  opacity: 1;
  color: #EB5E28;
  outline: none;
  cursor: pointer;
}
nav ul li.deactivated {
  opacity: 0.5;
  cursor: default;
}
nav ul li.deactivated:hover, nav ul li.deactivated:focus {
  opacity: 0.5;
  color: #FFFFFF;
  cursor: default;
}
nav .brand {
  display: none;
}
@media (max-width: 576px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1D1E1F;
    position: fixed;
    width: 100vw;
    height: 40px;
    z-index: 1000;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #1D1E1F;
  }
  nav ul li {
    width: auto;
    animation: popUp 0.5s ease-in-out;
  }
  nav ul.show {
    display: flex;
  }
  nav .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    color: #FFFFFF;
    z-index: 800;
    width: 100%;
    height: 100%;
  }
  nav .brand:hover, nav .brand:focus {
    cursor: pointer;
  }
}

#content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  max-width: 1200px;
  max-height: 90vh;
  margin-top: 24px;
  padding: 8px 32px;
  padding-bottom: 0%;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 576px) {
  #content-container {
    padding: 0px;
    max-height: 87vh;
    box-sizing: border-box;
    padding-top: 80px;
  }
}

.head {
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .head {
    margin-bottom: 8px;
  }
}

.note {
  font-style: italic;
  color: #F1F2EB;
  margin-bottom: 8px;
}

/*# sourceMappingURL=trip.css.map */
