.buttons {
  @include flex-container(center, center, row);
  flex-wrap: wrap;
  gap: 20px;
}

button {
  @include flex-container(center, center, row);
  padding: $spacing-xs $spacing-sm;
  gap: 10px;
  border-radius: $borderRadiusMedium;
  background-color: $color-medium-grey;
  color: white;
  font-weight: bold;
  box-shadow: $boxShadowSmall;
  transition: $transition-fast;

  &:hover, &:focus {
    cursor: pointer;
    padding: $spacing-xs $spacing-sm;
    background-color: $color-light-orange;
    box-shadow: $boxShadowMedium;
    color: $color-light;
    opacity: 1;
    transform: scale($scale-sm);
  }
}
