#content-container {
  @include flex-container(flex-start, flex-start, column);
  width: 100%;
  height:max-content;
  box-sizing: border-box;
  max-width: $xl-max;
  max-height: 86vh;
  margin-top: $spacing-md;
  padding: $spacing-xs $spacing-lg;
  padding-bottom: 0%;
  transition: $transition;
  
  @include respond-to(sm) {
    padding: 0px;
    max-height: 87vh;
    box-sizing: border-box;
    padding-top: 80px;
  }
}

.head {
  margin-bottom: $spacing-lg;
}
.note {
  font-style: italic;
  color: $color-light;
  margin-bottom: $spacing-xs;
}
