
body {
  margin: 0;
  @include flex-container(flex-start, center, row);
  background: $color-background;
  padding: $spacing-md;
  transition: $transition;
}

main {
  @include flex-container(center, center, column);
  width: 87%;
  height: 90vh;
  transition: $transition;

  @include respond-to(sm) {
    width: 100%;
  }
}

// reset all ul, ol, li styles
ul, ol, li, a {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $color-white;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

footer {
  @include flex-container(flex-start, end, row); 
  transition: $transition;
  position: fixed;
  bottom: 0;
}

.orange {
  color: $color-light-orange;
}

.grey {
  color: $color-medium-grey;
}

.orange-bg {
  background-color: $color-light-orange;
}

a {
  opacity: 0.7;

  &:hover, &:focus {
    opacity: 1;
  }
}
