.work {
  @include flex-container(flex-start, center, column);
  @include scrollable-y;
  gap: $spacing-lg;
  padding-right: $spacing-md;
  transition: $transition;
  width: 100%;
  height: 100%;

  @include respond-to(sm) {
    padding-right: 0;
  }
}
  
section {
  @include flex-container(flex-start, flex-start, column);
  box-sizing: border-box;
  padding: $spacing-md;
  background-color: $color-dark-grey;
  border-radius: $borderRadiusMedium;
  width: 100%;

  subsection {
    @include flex-container(flex-start, flex-start, column);
    @include scrollable-x;
    width: 100%;
  }

  h2, h3 {
    margin: 0;
  }

  h2 {
    margin-bottom: $spacing-sm;
  }

  h3 {
    margin-bottom: $spacing-xs;
  }

  .items {
    @include flex-container(flex-start, flex-start, row);
    // @include scrollable;
    flex-wrap: wrap;
    gap: $spacing-md;
    padding: $spacing-xs $spacing-xs;
    box-sizing: border-box;
    padding-bottom: $spacing-md;

    @include respond-to(sm) {
      padding-right: 0;
      padding-left: 0;
    }

    .item {
      @include flex-container(flex-start, center, row);
      border-radius: $borderRadiusMedium;
      padding: $spacing-xs $spacing-sm;
      gap: $spacing-md;

      .levels {
        @include flex-container(center, center, row);
        gap: $spacing-xs;
        
        $point-width: 10px;
        .point {
          width: $point-width;
          height: $point-width;
          background-color: transparent;
          border: $borderWidthMedium solid $color-white;
          border-radius: 50%;
        
          &.full {
            background-color: $color-white;
          }
        }
      }

      &.darken {
        background-color: $color-medium-grey;
        .item-name {
          color: $color-light;
        }
      }
    }

    &-orange {
      .item {
        background-color: $color-light-orange;
      }
    }

    &-blue {
      .item {
        background-color: $color-light-blue;
      }
    }

    &-purple {
      .item {
        background-color: $color-light-purple;
      }
    }
  }

  &#projects {
    subsection {
      .items {
        flex-wrap: nowrap;
        @include scrollable;
        .item {
          @include flex-container(flex-start, flex-start, column);
          @include scrollable-y;
          background-color: $color-medium-grey;
          padding: $spacing-sm;
          width: 330px;
          height: 155px;
          gap: 10px;

          .item-name {
            font-weight: 900;
          }

          @include respond-to(sm) {
            width: 200px;
            height: 150px;
          }

        }
      }
    }
  }

  &#business {
    background-color: transparent;
    padding: 0;
    padding-bottom: $spacing-sm;

    subsection {
      padding: 0;
    }

    .item {
      @include flex-container(flex-start, flex-start, column);
      @include scrollable-y;
      background-color: $color-light;
      color: black;
      width: 350px;
      height: 130px;
      gap:0px;

      .item-icon {
        box-sizing: border-box;
        padding: $spacing-xs 0;
        width: 35%;
        object-fit: contain;
      }
    
      .item-name {
        font-weight: 900;
      }

      @include respond-to(md) {
        width: 280px;
        height: 130px;
      }

      @include respond-to(sm) {
        width: 250px;
        height: 110px;
      }

    }
  }

  &#ratings {
    background-color: transparent;
    padding: 0;
    padding-bottom: $spacing-sm;
    position: relative;
    width: 100%;
    height: 100%;
    
    section, items, subsection, item {
      height: 100%;
    }

    subsection {
      .items {
        @include scrollable;
        padding: 0;
        padding-bottom: $spacing-md;
        flex-wrap: nowrap;
      }
      
      .item {
        @include flex-container(flex-start, flex-start, column);
        @include scrollable;
        background-color: $color-medium;
        width: 350px; 
        height: 300px;

        @include respond-to(md) {
          width: 340px;
          height: 290px;
        }

        &:hover {
          cursor: default;
          animation: none;
          transform: none;
          box-shadow: none;
        }

        &.rating {
          @include flex-container(flex-start, flex-start, column);

          .heading {
            @include flex-container(flex-start, flex-start, column);
            &-name {
              font-weight: 900;
              font-size: $fontSize-lg;
            }
            &-origin {
              font-size: $fontSize-sm;
              font-style: italic;
            }
          }

          .review {
            @include flex-container(flex-start, flex-start, column);
            font-style: italic;
          }

          .date {
            @include flex-container(flex-end, flex-end, row);
          }
        }
      }

    }
  }
}

.flex-row {
  position: relative;
  width: 100%;

  section {
    width: 48%;
    height: 100%;
  }

  @include respond-to(md) {
    flex-direction: column;
    gap: $spacing-md;
    section {
      width: 100%;
    }
  }
}

.item {
  transition: $transition-fast;

  &:hover {
    cursor: pointer;
    transition: $transition;
    transform: scale(1.04);
    box-shadow: $boxShadowMedium;
  }
}


.item-tags {
  @include flex-container(flex-start, flex-start, row);
  flex-wrap: wrap;
  gap: $spacing-xs;
  margin-bottom: $spacing-xs;
  
  .item-tag {
    @include flex-container(center, center, row);
    border-radius: $borderRadiusSmall;
    border: $borderWidthSmall solid $color-white;
    padding: $spacing-xs - 3 $spacing-xs;
    font-size: $fontSize-sm;
  }
}

.popup {
  @include flex-container(center, center, row);
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: $transition;
  display: none;

  &-container {
    @include flex-container(flex-start, flex-start, column);
    @include scrollable;
    position: relative;
    background-color: $color-dark-grey;
    border-radius: $borderRadiusLarge;
    width: 80%;
    max-width: $lg-max;
    max-height: 70%;
    padding: $spacing-md $spacing-lg;
    animation: popUp $animation-duration-short ease-in-out;
    
    .popup-children {
      @include flex-container(space-between, flex-start, row);
      flex-wrap: wrap;
      @include scrollable; 
      position: relative;
      width: 100%;
      height: 100%;

      .popup-children-left {
        @include flex-container(flex-start, flex-start, column);
        position: relative;
        gap: $spacing-md;
        width: 69%;
        height: 100%;
      }

      &-right {
        @include flex-container(flex-start, flex-start, column);
        @include scrollable-y;
        font-style: italic;
        gap: $spacing-md;
        width: 29%;
        height: 100%;
      }

      @include respond-to(sm) {
        .popup-children-left {
          width: 100%;
        }

        .popup-children-right {
          width: 100%;
          gap: 0;
        }
      }
    }
  }
}

.links {
  @include flex-container(flex-start, flex-start, column);
  
  h3, h4 {
    margin-bottom: $spacing-xs;
  }

  &-container {
    @include flex-container(flex-start, center, row);
    gap: $spacing-xs;
    margin-bottom: $spacing-xs;
  } 
}

.images {
  @include flex-container(flex-start, flex-start, column);
  gap: 20px;
}

.image-container {
  @include flex-container(center, center, row);
  width: 100%;
  height: 100%;
  transition: $transition;

  &:hover {
    cursor: pointer;
    transition: $transition;
  }

  img {
    border-radius: $borderRadiusMedium;
    width: 80%;
    object-fit: cover;
  }
}
