/* mixins.scss */

@mixin flex-container($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin flex-item($flex-grow: 1, $flex-basis: auto, $flex-shrink: 1) {
  flex-grow: $flex-grow;
  flex-basis: $flex-basis;
  flex-shrink: $flex-shrink;
}

@mixin scrollable($scrollbar-color: $color-light-orange $color-dark-grey, $scrollbar-width: thin) {
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-color: $scrollbar-color;
  scrollbar-width: $scrollbar-width;
}

@mixin scrollable-x($scrollbar-color: $color-light-orange $color-dark-grey, $scrollbar-width: thin) {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: $scrollbar-color;
  scrollbar-width: $scrollbar-width;
}

@mixin scrollable-y($scrollbar-color: $color-light-orange $color-dark-grey, $scrollbar-width: thin) {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: $scrollbar-color;
  scrollbar-width: $scrollbar-width;
}

// break points 
@mixin respond-to($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$breakpoint}` does not exist in $breakpoints map.";
  }
}
