<div class="head">
  <div class="note">
    This page contains informations about my academic journey and achievements. Hover over the timeline to read more. The <i class="orange">orange</i> means the current time. If you are interested in more detailed profile of my academic information, contact me.
  </div>
</div>

<div class="academy">
  <div class="timeline">
    <div class="period">
      <h2>Ngo Quyen High School, Hai Phong, Vietnam</h2>
      <div class="description">
        <div>Finished sixth grade.</div>
      </div>
      <div class='details'></div>
    </div>

    <div class="period">
      <h2>Gymnasium Na Vitezne plani, Prague, Czech republic</h2>
      <div class='description'>
        <div>Obtained Maturita Diploma upon completion of high school.</div>
        <div>* Secured first place in the Mathematics Olympiad at the regional level in 2015.</div>
      </div>
      <div class='details'></div>
    </div>

    <div class="period">
      <h2>Computer Science at University of Twente, Enschede, The Netherlands</h2>
      <div class='description'>
        <div>Second year. Expected time of finishing: September 2024.</div>
        <div>* Secured first place in BAPC (competitive programming contest) at school level in 2022.</div>
      </div>
      <div class='details'></div>
    </div>

    <div class="period">
      <h2>Applied Mathematics at University of Twente, Enschede, The Netherlands</h2>
      <div class='description'>
        <div>Second year. Expected time of finishing: September 2024.</div>
      </div>
      <div class='details'></div>
    </div>
    
  </div>
</div>

<script type="module" src="../js/academy.js" refer></script>
