<div class="scrollable-container" id="contact-container">
  <div class="headings">
    <h1>Let's work something out.</h1>
    <a href="tel:+420792397290"><div class="status"><i class="fa-solid fa-square-phone"></i></i>+420 792 397 290</div></a>
    <a href="mailto:ha@sparkenv.com"><div class="status"><i class="fa-solid fa-square-envelope"></i>ha@sparkenv.com</div></a>
  </div>
  
  <form
    action="https://formspree.io/f/xqkvadlj"
    method="POST"
  >
    <div class="row-group">
       <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" id="name" name="name" required placeholder="Enter your name here.">
        </div>
        <div class="form-group">
          <label for="email">Your Email</label>
          <input type="email" id="email" name="email" required placeholder="Enter your email here.">
        </div>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" name="message" rows="10" required placeholder="Enter your message."></textarea>
    </div>
    
    <button type="submit">Submit</button>
  </form>
</div>
