<div class="scrollable-container" id="personality">
  <div class="hello">
    <h1>Hello, my name is Bui Thai Ha, but you can call me Han.</h1>
  </div>

  <section class="traits">
    <h2>Personality traits</h2>
    <div class="note"><a href="https://en.wikipedia.org/wiki/Big_Five_personality_traits" target="_blank">Click to read more about Big Five.</a></div>
    <div class="infographics-bars">
      <div class="bar-names">
        <div class="bar-name">Openness</div>
        <div class="bar-name">Conscientiousness</div>
        <div class="bar-name">Extraversion</div>
        <div class="bar-name">Agreeableness</div>
        <div class="bar-name">Neuroticism</div>
      </div>
      <div class="bar-containers">
        <div class="bar-container"><div class="bar-width orange-bg" id="openness" style="width: 73%"></div></div>
        <div class="bar-container"><div class="bar-width purple-bg 56" id="conscientiousness" style="width: 56%"></div></div>
        <div class="bar-container"><div class="bar-width blue-bg 87.5" id="extraversion" style="width: 87.5%"></div></div>
        <div class="bar-container"><div class="bar-width yellow-bg 71" id="agreeableness" style="width: 71%"></div></div>
        <div class="bar-container"><div class="bar-width green-bg 10" id="neuroticism" style="width: 10%"></div></div>
      </div>
      <div class="bar-values">
        <div>73%</div>
        <div>56%</div>
        <div>87.5%</div>
        <div>71%</div>
        <div>10%</div>
      </div>
    </div>
  </section>

  <section class="hobbies">
    <h2>Hobbies</h2>
    <subsection>
      <div class="hobby">
        <i class="fas fa-chalkboard-teacher"></i>
        Teaching 
      </div>
      <div class="hobby">
        <i class="fas fa-laptop-code"></i>
        coding
      </div>
      <div class="hobby">
        <i class="fas fa-dumbbell"></i>
        Gym
      </div>
      <div class="hobby">
        <i class="fas fa-shuttle-space"></i>
        Badminton
      </div>
      <div class="hobby">
        <i class="fas fa-volleyball-ball"></i>
        volleyball
      </div>
      <div class="hobby">
        <i class="fas fa-chess"></i>
        chess
      </div>
      <div class="hobby">
        <i class="fas fa-film"></i>
        movies
      </div>
      <div class="hobby">
        <i class="fas fa-plane"></i>
        traveling
      </div>
      <div class="hobby">
        <i class="fas fa-microphone-alt"></i>
        karaoke
      </div>
      <div class="hobby">
        <i class="fas fa-hiking"></i>
        hiking 
      </div>
    </subsection>
  </section>

  <section id="ratings">
    <h2>What do my friends say about me</h2>
    <subsection>
      <div class="items">

      </div>
    </subsection>
  </section>
</div>

