<div class='head'>
  <div class='note'>
    Note that all ratings are based on personal determination and should be taken with consideration. These ratings reflect my self-assessment of proficiency and may vary depending on the context and specific projects. By cliking on them, you can read more.
  </div>
</div>

<div class="work">
  <section id="projects">
    <h2>Projects</h2>
    <div class="items">
      <div class="item-project">
          <div class="item-name">Node.js</div>
          <div class="levels">
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
          </div>
        </div>
    </div>
  </section>

  <section>
    <h2>Programming Languages</h2>
    <div class="items">
      <div class="item">
        <div class="item-name">C++</div>
        <div class="levels">
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point empty"></div>
          <div class="point empty"></div>
          <div class="point empty"></div>
        </div>
      </div>
      <div class="item">
        <div class="item-name">Python</div>
        <div class="levels">
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point empty"></div>
        </div>
      </div>
      <div class="item">
        <div class="item-name">Java</div>
        <div class="levels">
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point empty"></div>
          <div class="point empty"></div>
          <div class="point empty"></div>
        </div>
      </div>
      <div class="item">
        <div class="item-name">Javascript</div>
        <div class="levels">
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point full"></div>
          <div class="point empty"></div>
          <div class="point empty"></div>
        </div>
      </div>
      <div class="item darken">
        <div class="item-name">Rust</div>
      </div>
      <div class="item darken">
        <div class="item-name">Lua</div>
      </div>
      <div class="item darken">
        <div class="item-name">C</div>
      </div>
    </div>
  </section>

  <section>
    <h2>Technology</h2>
    <subsection>
      <h3>Backend</h3>
      <div class="items">
        <div class="item">
          <div class="item-name">Node.js</div>
          <div class="levels">
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
          </div>
        </div>
        <div class="item">
          <div class="item-name">Express</div>
          <div class="levels">
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
          </div>
        </div>
        <div class="item">
          <div class="item-name">MongoDB</div>
          <div class="levels">
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
          </div>
        </div>
        <div class="item">
          <div class="item-name">SQL</div>
          <div class="levels">
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
          </div>
        </div>
      </div>
    </subsection>

    <subsection>
      <h3>Frontend</h3>
      <div class="items">
        <div class="item">
          <div class="item-name">React</div>
          <div class="levels">
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point full"></div>
            <div class="point empty"></div>
            <div class="point empty"></div>
          </div>
        </div>
      </div>
    </subsection>
  </section>
</div>

