// Prague palette
$space-indigo: #2b2d42;
$lavender-grey: #8d99ae;
$platinum: #edf2f4;
$punch-red: #ef233c;
$flag-red: #d90429;

$bg-color: #fff;
$text-color: $space-indigo;
$primary-color: $platinum;
$accent-color: $punch-red;
$secondary-accent-color: $flag-red;
$secondary-text-color: $lavender-grey;
