$light-green: #E7ECE3;
$neon-green: #49DD85;
$medium-green: #3F5429;
$dark-green: #2F4414;
$olivine: #9CAF88;
$black-olive: #353A31;
$brown: #4f473b;
$yellow: #F7FF88;

html {
  @include flex-container(center, center, column);
  padding: $spacing-md;
}

body {
  @include flex-container(center, center, column);
  margin: 0;
  background: $dark-green;
  color: white;
  padding: $spacing-md $spacing-sm;
  transition: $transition;
  height: 100vh;
  width: 50%;

  @include respond-to(md) {
    width: 100%;
  }
}

.header {
  @include flex-container(start, start, column);
  gap: $spacing-sm;
  width: 100%;
  transition: $transition;
  margin-bottom: $spacing-md;

  h1 {
    font-size: 5rem;
    font-weight: 800;
  }
}

main {
  @include flex-container(start, start, column);
  height: 100%;
  transition: $transition;
  width: 100%;
}

.trip-btns {
  @include flex-container(start, start, row);
  gap: $spacing-sm;
  margin-bottom: $spacing-md;
  width: 100%;
}

.trip-btn {
  box-shadow: none;
  padding: 4px 8px;
  border-radius: $borderRadiusSmall;
  background: $medium-green;
  color: $light-green;
  opacity: 0.8;
  font-weight: 500;
  transition: $transition;
  font-size: 1rem;

  i {
    margin-right: 5px;
  }

  &:hover {
    opacity: 1;
  }
}

// reset all ul, ol, li styles
ul, ol, li, a {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $black-olive;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

footer {
  @include flex-container(flex-start, end, row); 
  transition: $transition;
  position: fixed;
  bottom: 0;
}

.orange {
  color: $color-light-orange;
}

.grey {
  color: $color-medium-grey;
}

.orange-bg {
  background-color: $color-light-orange;
}

.blue-bg {
  background-color: $color-light-blue;
}

.purple-bg {
  background-color: $color-light-purple;
}

.green-bg {
  background-color: $color-light-green;
}

.yellow-bg {
  background-color: $color-light-yellow;
}

a {
  opacity: 0.7;

  &:hover, &:focus {
    opacity: 1;
  }
}

.flex-row {
  @include flex-container(space-between, center, row);
}

/* width */
::-webkit-scrollbar {
  width: 3px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: $borderRadiusLarge;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(235, 94, 40, 0.3);
  border-radius: $borderRadiusLarge;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-green;
} 

.countdown-timer {
  @include flex-container(center, center, row);
  border: 1px solid $yellow;
  border-radius: $borderRadiusMedium;
  padding: $spacing-xs;
  width: 100%;
  background: $yellow;
  color: $black-olive;
  box-sizing: border-box;
}

.day {
  @include flex-container(center, start, column);
  width: 100%;
  position: relative;
  gap: $spacing-xs;
  transition: $transition;

  &-header {
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0;
  }

  &-content {
    @include flex-container(center, start, column);
    box-sizing: border-box;
    width: 100%;
    max-height: 0;
    opacity: 0.4;
    overflow: hidden;
    transition: max-height 0.8s ease-out, opacity 0.5s ease-out;
    color: white;

    &.expanded {
      height: 100%;
      max-height: 1000px;
      opacity: 1; 
      transition: $transition-slow;
    }

    &-checkpoint {
      @include flex-container(start, start, row);
      gap: $spacing-xs;
      width: 100%;
      height: 100%;
      opacity: 1;
      color: white;

      &-timeline {
        @include flex-container(center, center, column);
        position: relative;
        height: 100%;

        &-time {
          color: $neon-green;

          .travel & {
            opacity: 0.6;
          }
        }

        &-line {
          height: 100%;
          border: 1px solid $neon-green;
          border-radius: $borderRadiusSmall;

          .travel & {
            border: 1px dashed $neon-green;
            background: none;
            opacity: 0.6;
          }

        }
      }

      &-info {
        @include flex-container(start, start, column);
        width: 100%;
        margin-bottom: $spacing-md;
        padding: 0 $spacing-xs;

        .travel & {
          margin-bottom: $spacing-sm;
          opacity: 0.6;
        }

        &-title {
          @include flex-container(start, center, row);
          gap: $spacing-xs;
          font-weight: 800;
        }

        &-description {
          font-size: 1rem;
          font-weight: 400;
        }

        .special & {
          background: $medium-green;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          border-radius: $borderRadiusMedium;
          padding: $spacing-xs;
          box-sizing: border-box;
        }
      }

      &:last-child & {
        &-timeline-line {
          opacity: 0;
        }
      }
    }
  }
}
.weather-section {
  @include flex-container(center, center, column);
  width: 400px;
  transition: $transition;
  box-sizing: border-box;
  border-radius: $borderRadiusMedium;
  margin-bottom: $spacing-md;

  @include respond-to(md) {
    width: 80%;
  }

  @include respond-to(sm) {
    width: 100%;
  }

  .weather-info {
    @include flex-container(space-between, start, row);
    gap: $spacing-sm;
    width: 100%;

    .weather-item {
      @include flex-container(center, center, column);
      width: 100%;
      gap: $spacing-xs;
      background: $medium-green;
      padding: $spacing-sm;
      border-radius: $borderRadiusLarge;
      color: $light-green;

      i {
        @include flex-container(center, center, column);
        font-size: 1.3rem;
      }

      @include respond-to(md) {
        padding: $spacing-xs; 
      }
    }

  }
}
