$bg-color: #ae2319;
$text-color: #FFFFFF;
$primary-color: #DA291C;
$accent-color: #D3D3D3;
$secondary-accent-color: #D3D3D3;
$secondary-text-color: #FFFFFF;

html {
  @include flex-container(center, center, column);
  padding: $spacing-md;
}

body {
  @include flex-container(center, center, column);
  margin: 0;
  background: $bg-color;
  color: $text-color;
  padding: $spacing-md $spacing-sm;
  transition: $transition;
  height: 100vh;
  width: 50%;

  @include respond-to(md) {
    width: 100%;
  }
}

.header {
  @include flex-container(start, start, column);
  gap: $spacing-sm;
  width: 100%;
  transition: $transition;
  margin-bottom: $spacing-md;

  h1 {
    font-size: 5rem;
    font-weight: 800;
  }
}

main {
  @include flex-container(start, start, column);
  height: 100%;
  transition: $transition;
  width: 100%;
}

.trip-btns {
  @include flex-container(start, start, row);
  gap: $spacing-sm;
  margin-bottom: $spacing-md;
  width: 100%;
}

.trip-btn {
  box-shadow: none;
  padding: 4px 10px;
  border-radius: $borderRadiusMedium;
  background: $primary-color;
  color: $text-color;
  opacity: 0.8;
  font-weight: 500;
  transition: $transition;
  font-size: 1rem;

  i {
    margin-right: 5px;
  }

  &:hover {
    opacity: 1;
  }
}

// reset all ul, ol, li styles
ul, ol, li, a {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $secondary-text-color;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

footer {
  @include flex-container(flex-start, end, row); 
  transition: $transition;
  position: fixed;
  bottom: 0;
}

.orange {
  color: $color-light-orange;
}

.grey {
  color: $color-medium-grey;
}

.orange-bg {
  background-color: $color-light-orange;
}

.blue-bg {
  background-color: $color-light-blue;
}

.purple-bg {
  background-color: $color-light-purple;
}

.green-bg {
  background-color: $text-color;
}

.yellow-bg {
  background-color: $color-light-yellow;
}

a {
  opacity: 0.7;

  &:hover, &:focus {
    opacity: 1;
  }
}

.flex-row {
  @include flex-container(space-between, center, row);
}

/* width */
::-webkit-scrollbar {
  width: 3px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: $borderRadiusLarge;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(235, 94, 40, 0.3);
  border-radius: $borderRadiusLarge;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bg-color;
} 

.countdown-timer {
  @include flex-container(center, center, row);
  border: 1px solid $secondary-accent-color;
  border-radius: $borderRadiusMedium;
  padding: $spacing-xs;
  width: 100%;
  background: $secondary-accent-color;
  color: $secondary-text-color;
  box-sizing: border-box;
}

.day {
  @include flex-container(center, start, column);
  width: 100%;
  position: relative;
  gap: $spacing-xs;
  transition: $transition;

  &-header {
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0;
  }

  &-content {
    @include flex-container(center, start, column);
    box-sizing: border-box;
    width: 100%;
    max-height: 0;
    opacity: 0.4;
    overflow: hidden;
    transition: max-height 0.8s ease-out, opacity 0.5s ease-out;
    color: $text-color;

    &.expanded {
      height: 100%;
      max-height: 10000px;
      opacity: 1; 
      transition: $transition-slow;
    }

    &-checkpoint {
      @include flex-container(start, start, row);
      gap: $spacing-xs;
      width: 100%;
      height: 100%;
      opacity: 1;
      color: $text-color;

      &-timeline {
        @include flex-container(center, center, column);
        position: relative;
        height: 100%;
        opacity: 0.8;

        &-time {
          color: $accent-color;

          .travel & {
            opacity: 0.6;
          }
        }

        &-line {
          height: 100%;
          border: 1px solid $accent-color;
          border-radius: $borderRadiusSmall;

          .travel & {
            border: 1px dashed $accent-color;
            background: none;
            opacity: 0.6;
          }

        }
      }

      &-info {
        @include flex-container(start, start, column);
        width: 100%;
        margin-bottom: $spacing-md;
        padding: 0 $spacing-xs;

        .travel & {
          margin-bottom: $spacing-sm;
          opacity: 0.6;
        }

        &-title {
          @include flex-container(start, center, row);
          gap: $spacing-xs;
          font-weight: 800;
        }

        &-description {
          font-size: 1rem;
          font-weight: 400;
        }

        &-infos {
          @include flex-container(start, start, row);
          margin-top: $spacing-xs;
          gap: $spacing-xs;
          width: 100%;
  
          &-item {
            border: 1px solid rgba(247, 255, 136, 0.5);
            color: $secondary-accent-color;
            background: rgba(211, 211, 211, 0.1);
            padding: 2px 4px;
            border-radius: $borderRadiusSmall;
          }
        }

        .special & {
          background: $primary-color;
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          border-radius: $borderRadiusMedium;
          padding: $spacing-xs;
          box-sizing: border-box;
        }

        .important & {
          border-radius: $borderRadiusMedium;
          color: $accent-color;
          border: 1px solid $accent-color;
          padding: $spacing-xs;
          box-sizing: border-box;
        }
      }

      &:last-child & {
        &-timeline-line {
          opacity: 0;
        }
      }
    }
  }
}
.weather-section {
  @include flex-container(center, center, column);
  width: 500px;
  transition: $transition;
  box-sizing: border-box;
  border-radius: $borderRadiusMedium;
  margin-bottom: $spacing-xl;

  @include respond-to(md) {
    width: 80%;
    margin-bottom: $spacing-lg;
  }

  @include respond-to(sm) {
    width: 100%;
  }

  .weather-info {
    @include flex-container(space-between, start, row);
    gap: $spacing-sm;
    width: 100%;

    @include respond-to(md) {
      gap: $spacing-xs;
    }

    .weather-item {
      @include flex-container(center, center, column);
      width: 100%;
      height: 100%;
      gap: $spacing-xs;
      background: $primary-color;
      padding: $spacing-sm $spacing-xs;
      border-radius: $borderRadiusLarge;
      color: $text-color;

      i {
        @include flex-container(center, center, column);
        font-size: 2rem;

        @include respond-to(md) {
          font-size: 1.7rem;
        }
      }

      @include respond-to(md) {
        padding: $spacing-xs; 
      }
    }

  }
}
